{{- $enableComments := site.Params.comments.enable | default false -}}

{{ if not (eq .Params.comments nil) }}
  {{ $enableComments = .Params.comments }}
{{ end }}

{{- if $enableComments -}}
  <!-- {{- if eq site.Params.comments.type "giscus" -}}
    {{ partial "components/giscus.html" . }}
  {{- end -}} -->

<p style="margin-top: 2.5rem;
  border-bottom-width: 1px;
  border-color: rgb(229 229 229 / 0.7);
  padding-bottom: 0.25rem;
  font-size: 1.875rem;
  font-weight: 600;">评论</p>
<br>

<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.44/dist/twikoo.min.js"></script>
<!-- <style>
    .twikoo {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
    }
    :root[data-scheme="dark"] {
        --twikoo-body-text-color-main: rgba(255, 255, 255, 0.9);
        --twikoo-body-text-color: rgba(255, 255, 255, 0.7);
    }
    .twikoo .el-input-group__prepend,
    .twikoo .tk-action-icon,
    .twikoo .tk-submit-action-icon,
    .twikoo .tk-time,
    .twikoo .tk-comments-no,
    .twikoo .tk-comments-count {
        color: var(--twikoo-body-text-color);
    }
    .twikoo .el-input__inner,
    .twikoo .el-textarea__inner,
    .twikoo .tk-preview-container,
    .twikoo .tk-content,
    .twikoo .tk-nick,
    .twikoo .tk-send {
        color: var(--twikoo-body-text-color-main);
    }
    .twikoo .el-button{
        color: var(--twikoo-body-text-color)!important;
    }
    .twikoo .el-input__count {
        color: var(--twikoo-body-text-color) !important;
    }
    .OwO .OwO-body {
        background-color: var(--body-background) !important;
        color: var(--body-text-color) !important;
    }
</style> -->

<script>
    twikoo.init({
        envId: "https://twikoo-cai.netlify.app/.netlify/functions/twikoo",  //这里填写自己的envId
        el: "#tcomment",
        lang: 'zh-CN',
        region: 'ap-shanghai',  //我的区域是广州，可以不填，默认是ap-shanghai
        // path: 'window.TWIKOO_MAGIC_PATH||window.location.pathname',
    });
</script>


{{- end -}}
