/* ========================twikoo美化====================== */
/* 隐藏评论者头像 */
/* #twikoo .tk-comments .tk-submit .tk-avatar.tk-has-avatar {
    display: none;
} */

/* 下面表情和按钮那一栏的设置 */
/* #twikoo .tk-comments .tk-submit .tk-row.actions{
    margin-bottom: 0;
    margin-left: 0;
} */

/* 个人信息和文本输入之间的空位置 */
/* .tk-main .tk-submit .tk-col .tk-meta-input,
#twikoo .tk-comments .tk-submit .tk-col .tk-meta-input{
    margin-bottom: 16px;
} */

/* 直接固定高度，解决提交按钮有时高度不起作用的问题 */
/* .tk-row.actions button.el-button {
    height: 32px;
} */

/* 解决图片大小超出范围问题 */
/* .tk-main .tk-content img {
  max-width: 100%;
  height: auto;
} */

/* 圆角设置 */
.tk-meta-input input {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tk-meta-input div {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* 输入框样式 */
.tk-input.el-textarea textarea {
    border-radius: 8px;
    min-height: 150px !important;
    height: auto;
    font-size: inherit;
}

/* 宽度太窄的时候去掉预览按钮 */
/* @media screen and (max-width:420px) {
    .tk-main .tk-submit .tk-row.actions button.el-button.tk-preview.el-button--default.el-button--small{
        display: none;
    }
} */

/* 去掉楼中楼的预览按钮 */
.tk-main .tk-submit .tk-row.actions button.el-button.tk-preview.el-button--default.el-button--small{
    display: none;
}

/* 分类卡片移动端个人信息卡片只显示两个 */
@media screen and (max-width:570px) {
    .tk-main .tk-extras {
        display: none;
    }
}

/* 评论区按钮样式 */
.tk-row.actions button.el-button {
    border-radius: 20px !important;
}

/* 由于twikoo内部函数不宜修改，为了合适，去掉弹窗中的刷新按钮，该部分不需要，这是为了适配右键回复弹窗的内容的
#popup #twikoo .tk-comments .tk-comments-container .tk-comments-title > span:nth-child(2) > span:nth-child(1) {
	display: none;
} */

/* ========================twikoo美化====================== */


/* 发送按钮设置 */
#twikoo .tk-comments .el-button--primary {
    background-color: #006BE6;
    border-color: #006BE6;
}
#twikoo .tk-comments .el-button--primary.is-disabled,
#twikoo .tk-comments .el-button--primary.is-disabled:active,
#twikoo .tk-comments .el-button--primary.is-disabled:focus,
#twikoo .tk-comments .el-button--primary.is-disabled:hover {
    opacity: 0.5;
}


/* 展开按钮设置 */
.tk-expand {
    width: 75%;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
    transition: all 0.5s;
    border-radius: 50px;
    /* letter-spacing: 5px; */
    margin: 20px auto;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 0px 0px 1px 1px rgba(144,147,153,0.31);
}
#twikoo .tk-comments .tk-expand:hover {
    color: #fff;
    background-color: #006BE6;
}


/* 调整按钮字体大小 */
.el-input.el-input--small.el-input-group.el-input-group--prepend {
    font-size: inherit;
}
#twikoo .tk-comments button.el-button.tk-preview.el-button--default.el-button--small {
    font-size: inherit;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#twikoo .tk-comments button.el-button.tk-send.el-button--primary.el-button--small{
    font-size: inherit;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.el-input--small .el-input__inner{
    height: inherit;
}

.el-button--mini, .el-button--small{
    font-size: inherit;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


/* 隐藏markdown按钮 */
#twikoo .tk-comments a.tk-submit-action-icon.__markdown {
    display: none;
}


/* 调整emoji */
/* #twikoo .tk-comments .OwO .OwO-body .OwO-items-show {
  margin: 5px 12px;
} */
.OwO .OwO-logo {
    width: 1.5em;
}
#twikoo .tk-comments .OwO .OwO-body {
  /* border: var(--style-border-always) !important; */
  border-radius: 8px !important;
  /* overflow: hidden; */
  /* background-color: var(--twikoo-maskbg) !important;
  backdrop-filter: saturate(180%) blur(10px); */
  /* cursor: auto; */
  top: 2.6em !important;
  /* transform: translateZ(0);
  animation: 0.3s ease 0.1s 1 normal both running donate_effcet; */
}


/* 输入提示 */
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(
    1
  ):before {
  content: "请输入您的昵称😃";
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(
    2
  ):before {
  content: "收到回复会发送到您的邮箱📧";
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(
    3
  ):before {
  content: "可以通过昵称访问您的网站🔗";
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before {
  display: block;
  animation: commonTipsIn 0.3s;
  z-index: 2;
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
  animation: commonTriangleIn 0.3s;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  display: none;
  position: absolute;
  top: -60px;
  white-space: nowrap;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 14px 18px;
  background: #444;
  color: #fff;
  z-index: 100;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: "";
  position: absolute;
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -46px);
}


/* 头像设置为圆形 */
.tk-avatar.tk-has-avatar {
    background-color: #ffffff00
}
.tk-avatar-img {
    border-radius: 50px;
}



.tk-comment {
    box-shadow: 0px 0px 1px 1px rgba(144,147,153,0.31);
    border-radius: 8px;
}
#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}