<div style="margin: 5px 0; font-size: 0.9em; color: gray">
    <span>本视频一切权利归 <strong>acfun</strong> 及 <strong>原作者</strong> 所有。如果觉得好，请点击跳转到 <a href="https://www.acfun.cn/v/{{.Get 0}}/"> <strong>acfun</strong></a> 给予支持。如无法打开视频，请点击 <a href="https://www.acfun.cn/v/{{.Get 0}}/"><strong>这里</strong></a> </strong>跳转到A站观看。</span>
</div>

<div style="position:relative; padding-bottom:75%; width:100%; height:0">
    <iframe
        src="//www.acfun.cn/player/{{.Get 0}}"
        scrolling="no"
        border="0"
        frameborder="no"
        allowfullscreen="true"
        style="position:absolute; height: 100%; width: 100%;">
    </iframe>
</div> 