<div style="margin: 5px 0; font-size: 0.9em; color: gray">
  <span>本视频一切权利归 <strong>搜狐</strong> 及 <strong>原作者</strong> 所有。如果觉得好，请点击跳转到 <a href="https://tv.sohu.com/"> <strong>搜狐</strong></a> 给予支持。</span>
</div>


<div style="position:relative; padding-bottom:75%; width:100%; height:0">
    <iframe
        src="//tv.sohu.com/s/sohuplayer/iplay.html?vid={{.Get 0}}&disablePlaylist=true&autoplay=0"
        scrolling="no"
        border="0"
        frameborder="no"
        framespacing="0"
        allowfullscreen="true"
        style="position:absolute; height: 100%; width: 100%;">
    </iframe>
</div> 
