<!DOCTYPE HTML>
<html>

  <head>
    <!-- style 样式 是为了让网页上的视频框按比例显示而非固定的大小 -->
    <style type="text/css">
      .ratio {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
      }

      .ratio iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    </style>
  </head>
</html>


{{- $id := .Get 0 -}}

<div style="margin: 5px 0; font-size: 0.9em; color: gray">
  <span>本视频一切权利归 <strong>腾讯视频</strong> 及 <strong>原作者所有。</strong>如果觉得好，请点击跳转到 <a href="https://v.qq.com/x/page/{{ $id }}.html"> <strong>腾讯视频</strong></a> 给予支持。</span>
</div>

<div class="ratio ratio-16x9 tencentvideo mb-4">
  <iframe class="tencentvideo-iframe" src="https://v.qq.com/txp/iframe/player.html?vid={{ $id }}" allowFullScreen
  loading="lazy"></iframe>
</div>